{% extends 'base/base.html' %}
{% load static %}

{% block title %}Selected Students{% endblock title %}

{% block body %}


<div class="card">
  <div class="container mt-4">
    <form action="" class="d-md-flex" method="post">
      {% csrf_token %}
      <input type="text"
      name="course"
      placeholder="Filter By Course..." class="form-control mr-3">
      <div class="d-flex mt-3 mt-lg-0">

      <a href="{% url 'selected_students' %}">
        <button type="submit" class="btn btn-primary py-2 px-5 " style="margin-left:15px">All</button>
      </a>

      <button type="submit" class="btn btn-primary py-2 px-5 mx-3">Search</button>
    </div>
    </form>
  </div>
    <h5 class="card-header mt-4">Selected Students</h5>
    <div class="table-responsive text-nowrap py-3">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Father's Name</th>
            <th>Mother's Name</th>
            <th>HSLC Percentage</th>

            <th>Course</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          
    
      {% for student in student %}
        <tr>
          <td style="text-transform:uppercase"><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{student.full_name}}</td>
          
          <td style="text-transform:uppercase">{{student.father_name}}</td>
          <td style="text-transform:uppercase">{{student.mother_name}}</td>

          <td style="text-transform:uppercase">{{student.hslc_percentage}} %</td>

  
          <td style="text-transform:uppercase"><span class="badge bg-label-primary me-1">{{student.course}}</span></td>
          <td>
            <div class="dropdown">
              <button
                type="button"
                class="btn p-0 dropdown-toggle hide-arrow"
                data-bs-toggle="dropdown"
              >
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                {% comment %} <a class="dropdown-item" style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#staticBackdrop" 
                ><i class="bx bx-trash me-1" style="color:#ff3e1d"></i> View</a
              > {% endcomment %}
              <a class="dropdown-item" href="/selected-students-details/{{student.id}}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" style="color:#7477ff;transform: ;msFilter:;" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                View
              </a>
                
               
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </div>
     
    
        </tbody>
      </table>
    
  </div>
</div>


  <div aria-label="Page navigation example" class=" my-5">
    <ul class="pagination  ">
      {% if student.has_previous %}
      <li class="page-item ">
        <a href="/selected-students/?page={{ student.previous_page_number }}" class="page-link">Previous</a>
      </li>
      <li class="page-item ">
        <a href="/selected-students/?page=1" class="page-link">First</a>
      </li>
      
      {% endif %}
      <div class="d-none d-md-flex">
        <li class="page-item"><a class="page-link" href="#"><span class="current bg-primary text-white" style="padding: 10px 12px !important;">
        Page {{ student.number }} of {{ student.paginator.num_pages }}.
        </span></a>
      </li>
      </div>
      {% comment %} <li class="page-item"><a class="page-link" href="#">3</a></li> {% endcomment %}
      {% if student.has_next %}
      

        <li class="page-item d-flex align-items-center border border-secondary mx-2 px-2">
          <a class="page-link mx-md-2" href="/selected-students/?page={{ student.next_page_number }}">Next</a>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=" mx-md-2" style="height:20px">
            <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
          </svg>
          
        </li>
        <li class="page-item border border-secondary">
          <a class="page-link" href="/selected-students/?page={{ student.paginator.num_pages  }}">Last</a>
        </li>

      
      {% endif %}

    </ul>
  </div>
   

{% endblock body %}