{% extends 'base/base.html' %}

{% block title %}Student Detail{% endblock title %}

{% block styles %}{% endblock styles %}

{% block body %}


<div class="container-fluid">
    <div class="row ">

       <div class="col-lg-4 p-2">
            <div class="row">
                <div class="col">
                    <div class=" card p-2">

                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <img style="height:100px;border:5px solid white;border-radius:50%;" src="https://demo.libkart.io/static/assets/img/avatars/7.png" alt="">
                            <p style="text-transform:capitalize;font-weight:bold">Biswarup Das</p>
                        </div>
                        
                        <div class="px-lg-5">
                            <p style="text-transform:capitalize;font-weight:bold">Stdent Id : DC2020BCA0055 </p>
                            <p style="text-transform:capitalize;font-weight:bold">Course : BCA </p>
                            <p style="text-transform:capitalize;font-weight:bold">Email : biswarupdaslyf@gmail.com </p>
                        </div>
        
        
                    </div>
                </div>

                <div class="col py-4">
                    <div class=" card py-5">
                        <div class="px-5">
                            <h3 class="text-primary mb-4 " style="border-bottom: 2px solid #ffab00;">Supported Documents</h3>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png" style="height:150px" alt="">
                                <p>Hslc Marksheet</p>
                            </div>
                            
                            <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png" style="height:150px" alt="">
                                <p>Hslc Marksheet</p>
                            </div>

                            <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png" style="height:150px" alt="">
                                <p>Hslc Marksheet</p>
                            </div>

                            <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png" style="height:150px" alt="">
                                <p>Hslc Marksheet</p>
                            </div>

                            <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png" style="height:150px" alt="">
                                <p>Hslc Marksheet</p>
                            </div>

                        </div>

                        
        
                    </div>
                </div>

            </div>
       </div>

        {% comment %} --------------------------------  {% endcomment %}

       
        <div class="col-lg-8  p-2">
            <div class="card p-5">
                <h3 class="text-primary mb-4" style="border-bottom: 2px solid #ffab00;">General Information</h3>

                <div class="row">

                    <div class="col-lg-6">

                        <p style="text-transform:capitalize"><span style="font-weight:bold">Full Name : </span> Manju Das</p>

                        <p style="text-transform:capitalize"><span style="font-weight:bold">Father's name : </span> Ramchandra Das</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Father occupation : </span> Business</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Father number : </span> 9862285964</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Mother name : </span> Geetanjali Das</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Mother occupation : </span> house wife</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Mother number : </span>8787645342</p>


                    </div>

                    <div class="col-lg-6">

                        <p style="text-transform:capitalize"><span style="font-weight:bold">Garduian name : </span>Ramchandra</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Garduian number : </span>6578902345</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Nationality : </span>indian</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Date of Birth</span>29/05/2002</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Hello world</span></p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Hello world</span></p>
                        
                    </div>

                </div>

                <h3 class="text-primary my-4" style="border-bottom: 2px solid #ffab00;">HSLC Information</h3>

                <div class="row">

                    <div class="col-lg-6">

                        <p style="text-transform:capitalize"><span style="font-weight:bold">Full Name : </span> Manju Das</p>

                        <p style="text-transform:capitalize"><span style="font-weight:bold">Father's name : </span> Ramchandra Das</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Father occupation : </span> Business</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Father number : </span> 9862285964</p>
                        


                    </div>

                    <div class="col-lg-6">

                        <p style="text-transform:capitalize"><span style="font-weight:bold">Garduian name : </span>Ramchandra</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Garduian number : </span>6578902345</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Nationality : </span>indian</p>
                    
                        
                    </div>

                </div>

                <h3 class="text-primary my-4" style="border-bottom: 2px solid #ffab00;">HSSLC Information</h3>

                <div class="row">

                    <div class="col-lg-6">

                        <p style="text-transform:capitalize"><span style="font-weight:bold">Full Name : </span> Manju Das</p>

                        <p style="text-transform:capitalize"><span style="font-weight:bold">Father's name : </span> Ramchandra Das</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Father occupation : </span> Business</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Father number : </span> 9862285964</p>
                        


                    </div>

                    <div class="col-lg-6">

                        <p style="text-transform:capitalize"><span style="font-weight:bold">Garduian name : </span>Ramchandra</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Garduian number : </span>6578902345</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Nationality : </span>indian</p>
                    
                        
                    </div>

                </div>

                <h3 class="text-primary my-4" style="border-bottom: 2px solid #ffab00;">Graduation Information</h3>

                <div class="row">

                    <div class="col-lg-6">

                        <p style="text-transform:capitalize"><span style="font-weight:bold">Full Name : </span> Manju Das</p>

                        <p style="text-transform:capitalize"><span style="font-weight:bold">Father's name : </span> Ramchandra Das</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Father occupation : </span> Business</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Father number : </span> 9862285964</p>
                        


                    </div>

                    <div class="col-lg-6">

                        <p style="text-transform:capitalize"><span style="font-weight:bold">Garduian name : </span>Ramchandra</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Garduian number : </span>6578902345</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Nationality : </span>indian</p>
                    
                        
                    </div>

                </div>

                <h3 class="text-primary my-4" style="border-bottom: 2px solid #ffab00;">Post Graduation Information</h3>

                <div class="row">

                    <div class="col-lg-6">

                        <p style="text-transform:capitalize"><span style="font-weight:bold">Full Name : </span> Manju Das</p>

                        <p style="text-transform:capitalize"><span style="font-weight:bold">Father's name : </span> Ramchandra Das</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Father occupation : </span> Business</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Father number : </span> 9862285964</p>
                        


                    </div>

                    <div class="col-lg-6">

                        <p style="text-transform:capitalize"><span style="font-weight:bold">Garduian name : </span>Ramchandra</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Garduian number : </span>6578902345</p>
                        <p style="text-transform:capitalize"><span style="font-weight:bold">Nationality : </span>indian</p>
                    
                        
                    </div>

                </div>


            </div>
        </div>     
        

    </div>
</div>


{% endblock body %}