{% extends 'base/base.html' %}

{% block title %}Students{% endblock title %}

{% block body %}


{% if user.is_superuser %}
<div class="card">
    <h5 class="card-header">Registered Students</h5>
    <div class="card-body">
      <div class="table-responsive text-nowrap">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Registered at</th>
              <th>Image</th>
              <th>Email Verification</th>
              <th>Actions</th>
            </tr>
          </thead>
        

          <tbody>
          {% if profile_obj is not none %}
          
          {% for profile_obj in profile_obj %}
          
            <tr>
              <td>
                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{profile_obj.first_name}} {{profile_obj.last_name}}</strong>
              </td>
              <td>{{profile_obj.created_at}}</td>
              <td>
                <ul class="list-unstyled users-list m-0 avatar-group d-flex justify-content-center align-items-center">
                  <li
                    data-bs-toggle="tooltip"
                    data-popup="tooltip-custom"
                    data-bs-placement="top"
                    class="avatar avatar-xs pull-up"
                    {% comment %} title="{{profile_obj.user}}" {% endcomment %}
                  >
                    {% if profile_obj.profile_pic.url %}
                    <img src="{{profile_obj.profile_pic.url}}" alt="Profile Picture" class="rounded-circle" />
                    {% endif %}
                  </li>
                  
                </ul>
              </td>
              <td><span class="badge bg-label-primary me-1">{{profile_obj.is_verified}}</span></td>
              <td>
                <div class="dropdown">
                  <button
                    type="button"
                    class="btn p-0 dropdown-toggle hide-arrow"
                    data-bs-toggle="dropdown"
                  >
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    {% if user.is_superuser %}
                    <a class="dropdown-item" href="/print-id-card/{{profile_obj.user}}/"
                      ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #71dd37;transform: ;msFilter:;"><path d="M19 7h-1V2H6v5H5c-1.654 0-3 1.346-3 3v7c0 1.103.897 2 2 2h2v3h12v-3h2c1.103 0 2-.897 2-2v-7c0-1.654-1.346-3-3-3zM8 4h8v3H8V4zm8 16H8v-4h8v4zm4-3h-2v-3H6v3H4v-7c0-.551.449-1 1-1h14c.552 0 1 .449 1 1v7z"></path><path d="M14 10h4v2h-4z"></path></svg> Print Id</a
                    >
                    {% endif %}
                    <a class="dropdown-item" href="/update-student-detail/{{profile_obj.user}}/"
                      ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ffab00;transform: ;msFilter:;"><path d="m7 17.013 4.413-.015 9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583v4.43zM18.045 4.458l1.589 1.583-1.597 1.582-1.586-1.585 1.594-1.58zM9 13.417l6.03-5.973 1.586 1.586-6.029 5.971L9 15.006v-1.589z"></path><path d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2z"></path></svg> Edit</a
                    >
                    <a class="dropdown-item" style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#staticBackdrop" 
                      ><i class="bx bx-trash me-1" style="color:#ff3e1d"></i> Delete</a
                    >
                  </div>
                </div>
              </td>
            </tr>
            
            
            {% endfor %}
            
            {% endif %}
            
        </tbody>

        </table>
      </div>
    </div>
  </div>

    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Are You Sure</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      {% comment %} <div class="modal-body">
        ...
      </div> {% endcomment %}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {% if profile_obj is not none %}
          
          {% for profile_obj in profile_obj %}
        {% if forloop.first %}
        <a href="/delete-student/{{profile_obj.user}}/"> <button type="button" class="btn btn-danger">Delete</button></a>
        {% endif %}
        {% endfor %}
            
        {% endif %}
      </div>
    </div>
  </div>
</div>

  <div aria-label="Page navigation example" class="my-5 ">
    <ul class="pagination ">
      {% if profile_obj.has_previous %}
      <li class="page-item ">
        <a href="/students/?page={{ profile_obj.previous_page_number }}" class="page-link">Previous</a>
      </li>
      <li class="page-item ">
        <a href="/students/?page=1" class="page-link">First</a>
      </li>
      
      {% endif %}
      <li class="page-item"><a class="page-link" href="#"><span class="current bg-primary text-white" style="padding: 10px 12px !important;">
        Page {{ profile_obj.number }} of {{ profile_obj.paginator.num_pages }}.
    </span></a></li>
      {% comment %} <li class="page-item"><a class="page-link" href="#">3</a></li> {% endcomment %}
      {% if profile_obj.has_next %}
      <li class="page-item d-flex border border-secondary mx-2 px-2">
        <a class="page-link mx-2" href="/students/?page={{ profile_obj.next_page_number }}">Next</a>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
        </svg>
        
      </li>
      <li class="page-item border border-secondary">
        <a class="page-link" href="/students/?page={{ profile_obj.paginator.num_pages  }}">Last</a>
      </li>
      {% endif %}

    </ul>
  </div>
{% endif %}

{% endblock body %}